<body>
    <main>
        <header>
            <h2>TODO List</h2>
            <p>A place to store your todos</p>
            <input type="text" placeholder="Filter your to-dos">
        </header>
            <div [ngClass]= "'listItems'" *ngFor="let todo of sampleArray, index as i">
                <p>{{i+1}}.</p>
                <button *ngIf="todo.completed" [ngClass]="'compBtn'">complete</button>
                <p [ngClass]="{completed:!todo.completed}">{{ todo.task }}</p>
                <button [ngClass]="'deleteBtn'">X</button>
            </div>
        <input type="text" placeholder ="Add your to-do">
        <div [ngClass]="'bottom'">
            <button [ngClass]="'addButton'">Add</button>
        </div>
    </main>
</body>